<MudDialog Class="p-2">
    <TitleContent>
        <MudText
            Color="Color.Primary"
            GutterBottom
            Typo="Typo.h5">
            User Quick Authentication
        </MudText>
    </TitleContent>
    <DialogContent>
        @if (!string.IsNullOrEmpty(UserQuickAuthBase64))
        {
            <div class="d-flex justify-center">
                <MudImage
                    Height="300"
                    Src=@($"data:image/png;base64,{UserQuickAuthBase64}")
                />
            </div>
        }
        <MudText
            Class="mt-4"
            Typo="Typo.body1">
            You can use the Bottle Rocket app to scan this QR code for easier user authentication.
        </MudText>
        <MudText>
            <MudLink
                Target="_blank"
                Href="https://gman-au.github.io/bottle-rocket-documentation/docs/docs-general/installation-and-setup/server-installation/qr-code-authentication">
                See here for instructions.
            </MudLink>
        </MudText>
    </DialogContent>
    <DialogActions>
        <MudButton
            Variant="Variant.Outlined"
            OnClick="Cancel">
            OK
        </MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }

    [Parameter]
    public string UserQuickAuthBase64 { get; set; }

    private void Cancel() => MudDialog.Cancel();

    protected override async Task OnParametersSetAsync()
    {
        await
            MudDialog
                .SetOptionsAsync(
                    new DialogOptions
                    {
                        FullWidth = true,
                        MaxWidth = MaxWidth.Medium,
                        BackgroundClass = "dialog-blur-backdrop"
                    }
                );
    }

}