<tr>
    <td>
        <MudText
            Class="code-text"
            Typo="Typo.body1"
            Align="Align.Left"
            GutterBottom="true"
            Color="Color.Secondary">
            @Title
        </MudText>
    </td>
    <td style="text-align: center;">
        @ChildContent
    </td>
</tr>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}