@using Rocket.Api.Contracts.Executions
@using Rocket.Domain.Utils
@if ((Executions ?? []).Any())
{
    <MudSimpleTable
        Style="width:100%;"
        Dense>
        <thead>
        <tr>
            <th>Workflow</th>
            <th>Run Date</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var execution in Executions)
        {
            <tr>
                <td>
                    <MudLink Href="@($"/MyExecution/{execution.Id}")">@execution.Name</MudLink>
                </td>
                <td>
                    @execution.RunDate?.ToString("g")
                </td>
                <td>
                    @if (execution.ExecutionStatus != null && DomainConstants.ExecutionStatusTypes.ContainsKey((int)execution.ExecutionStatus))
                    {
                        @DomainConstants.ExecutionStatusTypes[(int)execution.ExecutionStatus]
                    }
                </td>
            </tr>
        }
        </tbody>
    </MudSimpleTable>
}
else
{
    <MudText
        Align="Align.Center"
        Typo="Typo.body2"
        Color="Color.Default">
        No previous runs found
    </MudText>
}
@code {
    [Parameter]
    public IEnumerable<ExecutionSummary> Executions { get; set; }
}