@page "/MyScans/{id}"
@using Rocket.Api.Contracts
@using Rocket.Web.Host.Api
@using Rocket.Web.Host.Infrastructure
@inject IApiRequestManager ApiRequestManager
@inject IWebHostErrorHandler WebHostErrorHandler
@inject ISnackbar Snackbar
@inherits Rocket.Web.Host.Infrastructure.CancellableComponentBase

<MudPaper Class="p-4" elevation="2">
    <MudText Typo="Typo.h4">
        My Scan
    </MudText>
    <BottleRocketLoadingOverlay IsLoading="@_isLoading">
        <MudGrid Class="pa-4">
            <div>
                @_scanItemDetail?.ContentType
            </div>
        </MudGrid>
    </BottleRocketLoadingOverlay>
</MudPaper>

@code {
    private bool _isLoading;
    private MyScanItemDetail _scanItemDetail = null;

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _isLoading = true;
            StateHasChanged();

            _scanItemDetail =
                await
                    ApiRequestManager
                        .GetMyScanAsync(
                            Id,
                            BaseCancellationToken
                        );
        }
        catch (Exception ex)
        {
            WebHostErrorHandler
                .HandleException(ex);
        }
        finally
        {
            _isLoading = false;
            StateHasChanged();
        }
    }

}