@page "/MyScans/{id}"
@using Rocket.Api.Contracts.Scans
@using Rocket.Web.Client
@using Rocket.Web.Host.Infrastructure
@inject IApiRequestManager ApiRequestManager
@inject IWebHostErrorHandler WebHostErrorHandler
@inherits Rocket.Web.Host.Infrastructure.BaseSecureCancellableComponent

<BottleRocketLoadingOverlay IsLoading="@_isLoading">
    @if (_scanSpecifics != null)
    {
        <MudGrid Class="pa-8" Justify="Justify.SpaceEvenly">
            <MudItem xs="12" sm="6">
                <MudImage
                    Class="mud-paper mud-paper-outlined"
                    src=@($"data:{_scanSpecifics.ContentType};base64,{_scanSpecifics.ImageBase64}")
                    Fluid
                />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudStack
                    Style="height:100%;"
                    Justify="Justify.SpaceBetween"
                    StretchItems="StretchItems.Middle"
                    AlignItems="AlignItems.Start"
                >
                    <MudText
                        Align="Align.Center"
                        Typo="Typo.h4"
                        Color="Color.Primary"
                        Class="mb-4">
                        Scan Details
                    </MudText>
                    <div style="width:100%;">
                        <MudSimpleTable
                            Bordered
                            Dense
                        >
                            <tbody>
                            <SimpleTableRowPair Title="Capture Date" Value=@_scanSpecifics.CaptureDate?.ToString("yyyy-MM-dd HH:mm:ss")/>
                            <SimpleTableRowPair Title="Content Type" Value=@_scanSpecifics.ContentType/>
                            </tbody>
                        </MudSimpleTable>
                    </div>
                    <GoBackButton BackPath="/MyScans"/>
                </MudStack>
            </MudItem>
        </MudGrid>
    }
</BottleRocketLoadingOverlay>

@code {
    private bool _isLoading;
    private ScanSpecifics _scanSpecifics = null;

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await
                base
                    .OnInitializedAsync();
            
            _isLoading = true;
            StateHasChanged();

            _scanSpecifics =
                await
                    ApiRequestManager
                        .GetMyScanAsync(
                            Id,
                            BaseCancellationToken
                        );
        }
        catch (Exception ex)
        {
            WebHostErrorHandler
                .HandleException(ex);
        }
        finally
        {
            _isLoading = false;
            StateHasChanged();
        }
    }

}